* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* why isn't my border showing up? */
header {
  background-color: coral;
  width: 100%;
  border-bottom: 8px groove lightseagreen;
  padding: 10px;
}

header img {
  padding: 10px;
  width: 200px;
  height: 70px;
}

/* can't figure out how to get this on the same level as the fish img */
header a {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(3, 97, 104);
}


body {
  background-color: darksalmon;
  width: 100%;
}


main h1 {
  margin: 1rem auto 1rem auto;
  display: flex;
  justify-content: center;
  /* how to I add my Google font? font-family: ""; */
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
}

.add {
  display: flex;
  justify-content: center;
}

#addStoreForm {
  margin-top: .5rem;
  margin-bottom: 4rem;
  padding-top: .5rem;
  padding-left: .50rem;
  padding-right: .50rem;
  width: 60%;
  border: 1px solid black;
  background-color: burlywood;
  font-family: Arial, Helvetica, sans-serif;
}


fieldset legend {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: .25rem;
}

fieldset {
  padding: 2rem;
  margin: .5rem;
}

button {
  padding: .3rem;
  margin: .5rem;
  color: bisque;
  background-color: black;
  border-radius: .5rem;
}

button:hover {
  color: #73094c;
  border: 2px solid #a4a4a4;
  background-color: #73094c;
  background: -webkit-gradient(linear, left top, left bottom, from(#F0E8C7), to(#9C9000));
  background: -moz-linear-gradient(top, #F0E8C7, #9C9000);
  background: -o-linear-gradient(top, #F0E8C7, #9C9000);
  background: -ms-linear-gradient(top, #F0E8C7, #9C9000);
}

input[type=text],
input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid bisque;
  border-radius: 4px;
}

.table {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategray;
  margin-bottom: 3rem;
}

table {
  width: 85%;
  table-layout: fixed;
  margin: 2rem;
  background-color: bisque;
}

table,
th,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
  padding: .5rem;
  border-collapse: collapse;
}

table th {
  font-weight: bold;
  border: 1px solid black;
  padding: .25rem;
}

/* where is my border and why is the <p> spacing all messed up compared to the index pg? */
footer {
  background-color: brown;
  border-top: 6px groove lightseagreen;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  font-size: 15px;
  font-weight: bold;
  margin: auto auto auto 10px;
}