* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* why isn't my border showing up? */
header {
	background-color: coral;
	width: 100%;
	border-bottom: 8px groove lightseagreen;
	padding: 10px;
}

header img {
	padding: 10px;
	width: 200px;
	height: 70px;
}

/* can't figure out how to get this on the same level as the fish img */
header a {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}


body {
	background-color: darksalmon;
	width: 100%;
}


main h1 {
  margin-top: .5rem;
	display: flex;
	justify-content: center;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}

.add {
	display: flex;
	justify-content: center;
}

#addStoreForm {
	margin-top: .5rem;
	margin-bottom: 4rem;
	padding-top: .5rem;
	width: 60%;
	border: 1px solid black;
	background-color: burlywood;
}

.table {
	display: flex;
	justify-content: center;
}

fieldset {
	padding: 2rem;
	margin: .5rem;
}

fieldset legend {
	font-weight: bold;
	font-size: 1rem;
}

button {
	padding: .3rem;
	margin: .5rem;
	color: bisque;
	background-color: black;
	border-radius: .5rem;
}

input[type=text], input[type=number] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid bisque;
	border-radius: 4px;
}

.table {
  margin-bottom: 3rem;
}

table {
	width: 85%;
	table-layout: fixed;
	margin: 2rem;
	background-color: bisque;
}

table, th, td, tr {
	border: 1px solid black;
	border-collapse: collapse;
}

table td {
	border: 1px solid black;
	padding: .5rem;
	border-collapse: collapse;
	font-family: 'Arial';
}

table th {
  font-weight: bold;
  border: 1px solid black;
}

/* where is my border and why is the <p> spacing all messed up compared to the index pg? */
footer {
	background-color: brown;
	border-top: 6px groove lightseagreen;
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: column;
}

footer p {
	color:antiquewhite;
	font-weight: bold;
	margin: auto auto auto 10px;
}


/* notes:

form {
  margin-top: 800px;
  border: 3px solid blue;
  padding: 20px;
}

input {
  display: block;
  margin-bottom: 25px;
}

input[type=radio],
input[type=checkbox] {
  display: inline-block;
}

label {
  display: block;
}

select {
  display: block;
  margin-bottom: 25px;
} 

h1 {
  text-align: center;
}

section:first-child {
  margin-bottom: 20px;;
  border: 10px solid purple;
  text-align: center;
}

article {
  margin: 20px;
  line-height: 200px;
  height: 200px;
  display: inline-block;
  width: 200px;
  text-align-last: center;
  font-size: 30px;
  font-weight: bold;
  border: 10px solid green
}

p {
  border:1px solid black;
  padding: 5px;
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
}

#box-one {
  background-color: aqua;
}

#box-two {
  background-color: bisque;
}

#box-three {
  background-color: cornflowerblue;
}

.class-I-am-adding {
  background-color: lightcyan;
}


Table styles
table, td, th {
  border: 1px solid rgb(112, 159, 165);
}
table {
  margin: 1rem;
}
td, th {
  padding: 1rem;
}
th {
  font-weight: bold;
}
tfoot {
  background-color: rgba(112, 159, 165, .1);
}


Form styles
form {
  width: 100%;
  margin-top: 2rem;
}
fieldset {
  border: 1px solid rgb(112, 159, 165);
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}
legend {
  color: rgb(112, 159, 165);
  font-size: 1.2rem;
  text-transform: uppercase;
}

textarea,
label,
input {
  display: block;
}

textarea,
input {
  margin-bottom: 1rem;
} 

input {
  border: 3px solid #73094c;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  margin: 15px;
  display: block;
}

label {
  color: white;
  display: block;
}

fieldset {
  width: 700px;
  border: 7px solid #73094c;
  border-radius: 75px;
  padding: 20px;
  text-align: center;
}

legend {
  background-color: black;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}

button {
        color: #73094c;
        text-shadow: 0px 1px 1px #ffffff;
        border: 2px solid #b2b2b2;
        background-color: #73094c;
        background: -webkit-gradient(linear, left top, left bottom, from(#F0E8C7), to(#9C9060));
        background: -moz-linear-gradient(top, #F0E8C7, #9C9060);
        background: -o-linear-gradient(top, #F0E8C7, #9C9060);
        background: -ms-linear-gradient(top, #F0E8C7, #9C9060);
}

button:hover {
        color: #73094c;
        border: 2px solid #a4a4a4;
        background-color: #73094c;
        background: -webkit-gradient(linear, left top, left bottom, from(#F0E8C7), to(#9C9000));
        background: -moz-linear-gradient(top, #F0E8C7, #9C9000);
        background: -o-linear-gradient(top, #F0E8C7, #9C9000);
        background: -ms-linear-gradient(top, #F0E8C7, #9C9000);
}

*/