* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: rgb(40, 36, 36);
	letter-spacing: 1.2px;
	line-height: 1.3;
}

/* having trouble spacing everything in the header the way I want. I want the fish logo to the fr left side of the page, "Pat's Salmon Cookies" centered, sales button, idk, far right corner of the header? */
header {
	background-color: coral;
	width: 100%;
	border-bottom: 8px groove lightseagreen;
	display: flex;
}

nav img {
	padding: 10px;
	width: 200px;
	height: 70px;
}

nav a {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(3, 97, 104);
}

header h1 {
	/*I want this to be my Google Font */
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 50px;
	color: darkred;
	font-style: oblique;
}

body {
	background-color: darksalmon;
	width: 100%;
	margin: auto;
}

#bio {
	display: flex;
	justify-content: center;
	width: 80%;
	margin-left: 7rem;
	margin-bottom: 2rem;
}

.family-business {
	background-color: burlywood;
	border: 1px solid brown;
	margin: 30px auto auto auto;
	display: flex;
	justify-content: center;
}

.family-business img {
	width: 95%;
	padding: 15px;
}

.about-us {
	width: 40%;
	margin-top: 40px;
	margin-left: 1.5rem;
	margin-bottom: 20px;
	border: 1px solid black;
	background-color: antiquewhite;
}

.about-us h3 {
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	font-style: italic;
	padding: 3px;
	background-color: coral;
	border-bottom: 6px groove lightseagreen;
}

.about-us section {
	font-family: Georgia, 'Times New Roman', Times, serif;
	height: 320px;
	overflow: auto;
	margin-top: 3px;
	margin-left: 3px;
	background-color: antiquewhite;
}

#other-locations h1 {
	font-size: 1.5rem;
	font-style: italic;
	margin-bottom: 2px;
	margin-left: 10px
}

#other-locations p {
	font-size: .9rem;
	margin-left: 10px;
}

.other-locations {
	display: flex;
	justify-items: flex-start;
	margin-top: 10px;
	margin-bottom: 2rem;
}

.other-locations img {
	width: 15%;
	border: 1px solid black;
}

.other-locations p {
	font-size: .8rem;
}

#seattle, #tokyo, #dubai, #paris, #lima {
	background-color: burlywood;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	width: 30%;
	padding: 10px;
	flex-direction: column;
	text-align: justify;
	margin-left: 5px;
}

#buy-merch h1 {
	font-size: 1.25rem;
	font-style: italic;
	margin-left: 10px;
}

#buy-merch p {
	font-size: .9rem;
	margin-left: 10px;
}

/* can't figure out how to make all of these images smaller.. the stacked images stay the same size, I think bc of the grid system I used, but idk how to fix it */
#merch {
	margin-top: 1rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-around;
}

/* layering images: */
.image-stack {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	position: relative;
}

.top-image {
	grid-column: 1 / span 8;
	grid-row: 1;
	/* must be on the same row as the other image */
	padding-top: 70%;
	/* this pushes the image down, and keeps it proportional as it resizes */
	z-index: 1;
	/* make this image render on top of the bottom */
}

.bottom-image {
	grid-column: 4 / -1;
	grid-row: 1;
	/* make this image be on the same row */
}



footer {
	background-color: brown;
	border-top: 6px groove lightseagreen;
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: column;
}

footer p {
	font-family: Arial, Helvetica, sans-serif;
	color:antiquewhite;
	font-size: 15px;
	font-weight: bold;
	margin: auto auto auto 10px;
}